{{ header }}
<div class="container">
	<ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
	</ul>
	{{ content_top }}
	<h2>{{ page_title }}</h2>
	{% if warning %}
		<div style="font-weight: bold; margin-bottom: 1rem;">{{ warning }}</div>
	{% elseif empty %}
		<div class="alert alert-info">{{ empty }}</div>
	{% endif %}
	{% if cart %}
		<div id="custom-cart">{{ cart }}</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-8" id="column-main">
			{% if login and not logged %}
				<div id="custom-login">{{ login }}</div>
			{% endif %}
			{% if not logged %}
				<div id="custom-customer">{{ customer }}</div>
			{% endif %}
			{% if shipping %}
				<div id="custom-shipping">{{ shipping }}</div>
			{% endif %}
			{% if payment %}
				<div id="custom-payment">{{ payment }}</div>
			{% endif %}
			{% if comment %}
				<div id="custom-comment">{{ comment }}</div>
			{% endif %}
		</div>
		<div class="col-sm-4" id="column-aside">
			{{ column_right }}
			{% if module %}
				<div id="custom-module">{{ module }}</div>
			{% endif %}
			{% if total %}
				<div id="custom-total">{{ total }}</div>
			{% endif %}
		</div>
	</div>
	{% if payment %}
		<div class="buttons" id="custom-control">
			{% if text_agree %}
				{% if (agree) %}
					<input type="checkbox" name="agree" value="1" checked="checked" />
				{% else %}
					<input type="checkbox" name="agree" value="1" />
				{% endif %} 
					&nbsp;
				{{ text_agree }}<br>
			{% endif %}
			<button type="button" id="button-checkout" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
		</div>
	{% endif %}
	{{ content_bottom }}
	<div id="custom-confirm" style="display: none;"></div>
</div>
{{ footer }}
<script>
$('.ajax-popup-link').magnificPopup({
  type: 'ajax'
});
</script>
