<div class="panel panel-default">
  <div class="panel-heading">{{ text_head_login }}</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <div class="radio">
            <label>
              {% if account == 'register' %} 
              <input type="radio" name="account" value="register" checked="checked" />
              {% else %} 
              <input type="radio" name="account" value="register" />
              {% endif %} 
              {{ entry_register }}</label>
          </div>

          {% if checkout_guest %} 
          <div class="radio">
            <label>
              {% if account == 'guest' %} 
              <input type="radio" name="account" value="guest" checked="checked" />
              {% else %} 
              <input type="radio" name="account" value="guest" />
              {% endif %} 
              {{ entry_guest }}</label>
          </div>
          {% endif %} 

          <div class="radio">
            <label>
              {% if account == 'auth' %} 
              <input type="radio" name="account" value="auth" checked="checked" />
              {% else %} 
              <input type="radio" name="account" value="auth" />
              {% endif %} 
              {{ entry_auth }}</label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <form id="form-auth" {% if account != 'auth' %} style="display: none;" {% endif %}>
          <div class="form-group">
            <label class="control-label" for="input-login">{{ entry_email }}</label>
            <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-login" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="input-password">{{ entry_password }} <a href="{{ forgotten }}">{{ text_forgotten }}</a></label>
            <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">{{ button_login }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  let customLogin;
  document.addEventListener("DOMContentLoaded", () => {
    customLogin = new CustomLogin();
  });
</script>