<div class="panel panel-default">
  <div class="panel-heading">
    {{ text_head_shipping }}
    <span class="pull-right">{{ region }}</span>
  </div>
  <div class="panel-body">
    {% if (error_warning) %}
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div id="custom-shipping-methods">
      {% for shipping_method in shipping_methods %} 
        <p><strong>{{ shipping_method['title'] }}</strong></p>
        {% if (not shipping_method['error']) %} 
          {% for quote in shipping_method['quote'] %} 
            <div class="radio">
              <label>
                {% if (quote['code'] == code or not code) %} 
                {% set code = quote['code'] %} 
                <input type="radio" name="shipping_method" value="{{ quote['code'] }}" checked="checked" />
                {% else %} 
                <input type="radio" name="shipping_method" value="{{ quote['code'] }}" />
                {% endif %} 
                {{ quote['title'] }} - {% if quote['cost'] > 0 %} {{ quote['text'] }} {% else %} {{ text_free }} {% endif %}
                {% if (quote['description'] is defined) %} 
                <br /><small>{{ quote['description'] }}</small>
                {% endif %} 
              </label>
            </div>
          {% endfor %} 
        {% else %} 
          <div class="alert alert-danger">{{ shipping_method['error'] }}</div>
        {% endif %}
      {% endfor %}
    </div>
    <div id="custom-shipping-address">
      {% if (addresses) %}
        <div class="radio">
          <label>
            <input type="radio" name="shipping_type" value="existing" checked="checked" />
            {{ text_address_existing }}</label>
        </div>
        <div id="shipping-existing">
          <select name="address_id" class="form-control">
            {% for address in addresses %}
              <option value="{{ address['address_id'] }}" {% if (address['address_id'] == address_id) %} selected="selected" {% endif %}>{{ address['firstname'] }} {{ address['lastname'] }}, {{ address['address_1'] }}, {{ address['city'] }}, {{ address['zone'] }}, {{ address['country'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="shipping_type" value="new" />
            {{ text_address_new }}</label>
        </div>
        <br />
      {% endif %}
      <div id="shipping-new" style="display: {{ addresses ? 'none' : 'block' }};">
        {% include 'default/template/extension/module/custom/field.twig' with {'fields': fields} %}
      </div>
    </div>
  </div>
</div>
<script>
let customShipping;
document.addEventListener("DOMContentLoaded", () => {
  customShipping = new CustomShipping();
});
document.addEventListener('ch.shipping.render', () => {
  customShipping.destroyShipping();
  customShipping = new CustomShipping();
});
</script>